/*

Styling

*/

@font-face {
  font-family: Pokemon; src: url('../fonts/Pokemon.ttf');
}

body {
  background: #0076a3; /* Fallback if gradient doesn't work */
  background: linear-gradient(135deg, #0076a3 0%, #004a80 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

p {
  font-family: 'Roboto', sans-serif;
  color: White;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;
}

p.center {
  text-align: center;
}

h1 {
  font-family: 'Russo One', sans-serif;
  color: Crimson;
  text-shadow: 2px 2px 2px #000;
}

h2 {
  font-family: 'Pokemon', sans-serif;
  font-size: 32px;
  color: #FFF;
}

h3 {
  font-family: 'Russo One', sans-serif;
  color: White;
  font-size: 32px;
  text-shadow: 2px 2px 2px #000;
}

h4 {
  font-family: 'Roboto', sans-serif;
  color: Crimson;
  font-size: 18px;
  text-shadow: 2px 2px 2px #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 250px;
}

li a {
    color: Crimson;
    box-shadow: 4px 4px 4px #000;
    text-shadow: 2px 2px 2px #000;
    display: block;
    padding: 8px 16px;
    background-color: #fff;
    margin: 10px 0
}

li a:hover {
    background-color: #555;
    color: white;
}

.logo img{
  box-shadow: 4px 4px 4px #000;
}

table{
  font-family: 'Russo One', sans-serif;
  border-collapse: collapse;
  border: 2px solid black;
}

th,td {
  padding:3px;
  text-align: left;
  border: 2px solid black;
  letter-spacing: .3px;
}

td {
  color: #555;
  background-color: White;
}

input[type=text], select, [type=file] {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: White;
    font-family: 'Roboto', sans-serif;
}

label{
  font-family: 'Roboto', sans-serif;
  color: Black;
  font-size: 18px;
}

input[type=submit] {
    width: 100%;
    background-color: Crimson;
    color: white;
    padding: 7px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

textarea {
  padding: 3px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: White;
  font-family: 'Roboto', sans-serif;
  resize: none;
}

input[type=submit]:hover {
    background-color: Grey;
}

.header{
  width: 100%;
  height: 100px;
}

.top-nav{
  box-shadow: 10px 10px 5px #888888;
}

.poke-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  width: 500px;
  height: 500px;
}

.center-page-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right:20px;
  padding-left:20px;
  border: 3px solid white;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 4px 4px 4px #000;
}

.long-table{
  width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    font-family: 'Russo One', sans-serif;
}

.sidenav a:hover, .offcanvas a:focus{
    color: Crimson;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.pokeMaker{
  text-align: center;
}

.evoImage{
  width: 70%;
  text-align: center;
}

#pokeball{
  width: 100%;
}

#nav-container {
  position: absolute;
  top: 300px;
  left: 10px;
  width: 100%;
}

#numTab th {
  color: White;
  background-color: Crimson;
}

#numInput{
  width: 100%;
}

#numInput th {
  color: White;
  background-color: Grey;
}

#descTab th {
  color: White;
  background-color: #4CAF50;
}

#typeTab th {
  color: White;
  background-color: #FF9800;
}

#evoTab th {
  color: White;
  background-color: #03A9F4;
}

#poke-sprite{
  position:absolute;
  right:0;
  width:30%;
  padding-right: 35px;
}

#stat-img{
  position:absolute;
  right:0;
  top:0;
  width:20%;
  padding-right: 25px;
}

#table-img{
  width: 100%;
}

#evoTab{
  width: 100%;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

#pokeButton {
  font-family: 'Russo One', sans-serif;
  font-size: 16px;
  border: 0px;
  background: transparent;
  color: White;
  width: 100%;
}

#pokeButton:hover {
  color: Crimson;
}

#bg-scroll {
  position:fixed;
  width: 100%;
  height: 100%;
  background: url(../images/bg.png);
  -webkit-animation: backgroundScroll 15s linear infinite;
  animation: backgroundScroll 15s linear infinite;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
}

@-webkit-keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -300px 0;}
}

@keyframes backgroundScroll {
  from {background-position: 0 0;}
  to {background-position: -300px 0;}
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.inputbutton {
    background-color: #03A9F4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.inputbutton:hover{
  background-color: Grey;
}

.cancelbtn {
    background-color: Crimson;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.cancelbtn:hover{
  background-color: Grey;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.pkmnBall {
    width: 10%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.checkbox-grid {
    width: 100%;
    -webkit-column-count: 5;
       -moz-column-count: 5;
            column-count: 5;
}

.checkbox-grid li {
  display: block;
  padding-bottom: 20px;
}

#hiddenPokeDiv{
  display: none;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

#dark-bg{
  background-color:#f1f1f1;
}

/* Desktop (width > 830px) */
@media screen and (min-width: 830px) {
  /* Remains normal for now*/
}

/* Tablet (830px > width > 480px) */
@media screen and (max-width:830px) and (min-width:480px){
  #pokeButton {
    width: 0%;
  }
  h2{
    font-size: 18px;
    margin:0px;
  }
  .poke-div{
    padding-top: 20px;
    width: 480px;
    position: relative;
  }
  .center-page-div{
    position: relative;
    width:auto;
    height: auto;
  }
  #logo{
    max-width: 100%;
    height: auto;
  }
  #pokeball{
    width:75%;
  }
  #nav-container {
    position: absolute;
    top: 250px;
    left: 10px;
    width: 80%;
  }
  input[type=text], select {
      padding: 0px;
  }
  #bg-scroll{
    display: none;
  }
}

/* Phone (width < 480px) */
@media screen and (max-width:480px){
  #pokeButton {
    width: 0%;
  }
  h2{
    font-size: 18px;
    margin: 0px;
  }
  .poke-div{
    padding-top: 20px;
    position: relative;
    width: 480px;
  }
  .center-page-div{
    position: relative;
    width:auto;
    height:auto;
  }
  #logo{
    max-width: 100%;
    height: auto;
  }
  #pokeball{
    width:75%;
  }
  #nav-container {
    position: absolute;
    top: 250px;
    left: 10px;
    width: 80%;
  }
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
  input[type=text], select {
      padding: 0px;
  }
  #bg-scroll{
    display: none;
  }
  .cancelbtn {
      width: 100%;
  }
}
