/*

Styling

*/
@font-face {
  font-family: Pokemon; src: url('../fonts/Pokemon.ttf');
}

body {
  background: #0076a3; /* Fallback if gradient doesn't work */
  background: linear-gradient(135deg, #0076a3 0%, #004a80 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: 'Russo One', serif;
  color: Crimson;
  text-shadow: 2px 2px 2px #000;
}

h2 {
  font-family: 'Pokemon', sans-serif;
  font-size: 32px;
  color: #FFF;
}

h3 {
  font-family: 'Russo One', serif;
  color: White;
  font-size: 32px;
  text-shadow: 2px 2px 2px #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    width: 250px;

}

li a {
    font-family: 'Russo One', serif;
    color: Crimson;
    box-shadow: 4px 4px 4px #000;
    text-shadow: 2px 2px 2px #000;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 32px;
    background-color: #fff;
    margin: 10px 0
}

li a:hover {
    background-color: #555;
    color: white;
}

.logo img{
  box-shadow: 4px 4px 4px #000;
}

table{
  font-family: 'Russo One', serif;
  border-collapse: collapse;
  border: 2px solid black;
}

th,td {
  padding:3px;
  text-align: left;
  border: 2px solid black;
  letter-spacing: .3px;
}

td {
  color: #555;
  background-color: White;
}

.top-nav{
  box-shadow: 10px 10px 5px #888888;
}


.center-div{
     margin: 0 auto;
     width: 100px;
}

.poke-div{
  position: fixed;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 200px;
  left: 0;
  width: 500px;
  height: 500px;
}

.center-page-div{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 750px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  padding-right:20px;
  padding-left:20px;
}

.long-table{
  width: 100%
}

#nav-container {
  position: absolute;
  top: 300px;
  left: 10px;
  width: 100%;
}

#numTab th {
  color: White;
  background-color: Crimson;
}

#descTab th {
  color: White;
  background-color: #4CAF50;
}

#typeTab th {
  color: White;
  background-color: #FF9800;
}

#evoTab th {
  color: White;
  background-color: #03A9F4;
}

#poke-sprite{
  position:absolute;
  right:0;
  width:30%;
  padding-right: 25px;
}

#stat-img{
  position:absolute;
  right:0;
  top:0;
  width:20%;
  padding-right: 25px;
}
